/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-image: url("../imagenes/fondo_index.webp");
  
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


header {
  height: 250px;          /* Ajusta altura del header */
  width: 100%;
  position: relative;     /* Necesario para posicionar la imagen en esquina */
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-header {
  max-height: 100px; /* Tamaño del gif del título */
  width: auto;
}

/* Imagen Triple Baka en una esquina */
.triple-baka {
  position: absolute;
  bottom: 10px;   /* Mover hacia abajo */
  right: 10px;    /* Mover hacia la derecha */
  width: 120px;   /* Tamaño reducido */
  height: auto;
  border-radius: 10px; /* Opcional: bordes redondeados */
}
/* ====== TEXTO PRINCIPAL ====== */
.titulo-secundario {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#parrafo-unico {
  font-weight: bold;
  margin: 10px 0;
}

.descripcion {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

/* Estilos para el footer */
footer {
  background-color: #000000;
  color: white;
  padding: 15px 0;
  margin-top: 30px;
}

/* Estilos personalizados para los botones */
.btn-lg {
  font-size: 1.2rem;
  padding: 10px 20px;
}

#parrafo-unico {
  font-size: 16px;
  color: #555;
}

h1 {
  font-size: 24px;
  color: #333;
}
